$type: "a";
$block: "#{$type}-link-icon";

.#{$block} {
  @include e("icon", "tooltip") {
    .#{$block}__base:hover &,
    .#{$block}__base:active &,
    .#{$block}__base:focus & {
      color: get-color($c-gray, sonic-silver);
    }
  }

  @include e("tooltip") {
    .#{$block}__base:hover &,
    .#{$block}__base:active &,
    .#{$block}__base:focus & {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -80%);
    }
  }
}
