$type: "a";
$block: "#{$type}-unordered-list";

.#{$block} {
  @include e("base") {
    @include font($body);

    color: var(--text-base-color);
    margin-bottom: $baseline * 2;
  }

  @include e("item") {
    .o-fixed-wiki-navigation__base & {
      margin-bottom: $baseline;
    }
  }
}
