$cmp: "a-heading";

.#{$cmp} {
  @include e("base") {
    @extend %margin-centered;
    margin-bottom: $baseline * 2;
    color: var(--text-base-color);
  }

  @include e("main", "subheading") {
    @extend %display-block;
  }
}
