// Import settings and tools
@import "../../../../abstracts/abstracts.scss";

// Set number of columns - 12 OR 16
$breakpoints: $column-grid-12;

// Import generic styles (base, reset, normalize)
@import "../../../../generics/generics.scss";

// Import themes CSS custom properties
@import "../../themes/main.theme.scss";

// Import grid
@import "../../grid/column-grid.scss";

// Import layouts
@import "../../layouts/sidebar-says.scss";

// Import template
@import "../../templates/generic/generic.template.scss";
