body {
  @extend %padding-reset;
  @extend %margin-reset;
  @extend %relative;
  @extend %flex-col;

  background-color: var(--main-background-color);
  overflow-x: hidden;
  min-height: 100vh;

  > * {
    @extend %size-fill-horizontal;
  }
}
