/* ------------------------------------ *\
 * #FIGURE
\* ------------------------------------ */

$block: "pat-figure";

.#{$block} {
  @include e("base") {
    @extend %margin-centered;
    @extend %margin-bottom-32;

    display: block;
    padding: $baseline ($gutter / 2);
    width: fit-content;
  }

  @include e("caption") {
    @include font($label);
  }
}
