$type: "o";
$block: "#{$type}-fixed-wiki-navigation";

.#{$block} {
  @include e("base") {
    @include absolute($top: 0, $left: 0);
    @extend %size-fill-vertical;

    max-width: 25%;
    min-width: 100px;
    height: 100vh;
    border-right: 1px solid fx-color($c-gray, sonic-silver);
  }
}
