$type: "o";
$block: "#{$type}-header";

.#{$block} {
  @include e("base") {
    @include m("simple") {
      @extend %margin-bottom-64; /* $baseline * 8 */
      border-bottom: 1px solid fx-color($c-gray, sonic-silver);
    }

    @include m("post-excerpt") {
      @extend %margin-bottom-32; /* $baseline * 4 */
      border-bottom: none;
    }
  }
}
