$type: "o";
$block: "#{$type}-header";

.#{$block} {
  @include e("base") {

    body > & {
      @extend %padding-top-32;
      @extend %margin-bottom-64;
      @extend %border-bottom-solid-silver;
    }
  }
}
