$type: "o";
$block: "#{$type}-wiki-main";

.#{$block} {
  @include e("base") {
    @include relative();
    border-bottom: 1px solid get-color($c-gray, sonic-silver);
  }

  @include e("sidebar", "content") {
    max-height: calc(70vh);
  }

  @include e("sidebar") {
    align-self: start;
  }

  @include e("content") {
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
}
