$type: "o";
$block: "#{$type}-article";

.#{$block} {
  @include e("base") {
    @extend %margin-bottom-64;
    @extend %border-bottom-solid-silver;
  }

  @include e("content") {
    align-items: stretch;
  }
}
