$type: "o";
$block: "#{$type}-article";

.#{$block} {
  @include e("base") {
    @extend %margin-bottom-64; /* $baseline * 8 */

    &:not(:last-child) {
      border-bottom: 1px solid fx-color($c-gray, sonic-silver);
    }
  }
}
