$cmp: "a-link";

.#{$cmp} {
  @include e("base") {
    @include on-event() {
      color: fx-color($c-gray, sonic-silver);
      text-decoration: none;
      box-shadow: 0 1px 0 0 fx-color($c-gray, sonic-silver);
      transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }
  }
}
