/* ------------------------------------ *\
 * #PARAGRAPH
\* ------------------------------------ */
$type: "cmp";
$block: "#{$type}-paragraph";

.#{$block} {
  @include e("base") {
    @include font($body);

    color: var(--text-base-color);
    margin-bottom: $baseline * 2;
  }
}
