@import "../../../../../abstracts/abstracts.scss";

/**
  * 1. SCSS variable to set the number of columns used for media-queries (12 OR 16)
  * 2. Base component code
*/

$breakpoints: $column-grid-12; /* 1 */

@import "./side-navigation.scss"; /* 2 */

/* || EXTENDING ATOMIC DESIGN || https://www.cjcid.com/articles/ions-introduction */

/**
  * TYPES
  * Normal Emphasized Informative Warning Alert Error Success)
*/

/**
  * STATES (states of interactive elements)
  * :default, ::placeholder, :placeholder-shown, :blank, :indeterminate, :checked, :optional
  * :required, :disabled, :enabled, :read-write, :read-only, :valid, :invalid, :in-range, :out-of-range
*/

/**
  * STATUSES
  * ::selection, :hover, -webkit-tap-highlight-color, :focus, :focus-within, :active, :link, :visited
*/
